*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   box-sizing: border-box;
  }

  body{
    text-align: center;
    padding: 100px;
    padding-bottom: 200px;
    font-style: normal;
    background-image: url(https://i.ibb.co/MBnpmYr/background-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
  }

  h1 span{
    color: #DB2777;
  }

  h1{
    font-family: Cinzel;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
  }

  p{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 72px;
  }

  a{
    padding-right: 16px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 32px;
  }

  a:hover,.btn-secondary{
    background-color: #DB2777;
    justify-content: center;
    border-radius: 32px 32px;
    color: white;
  }
